/*
reglas
selectores
declaracones
propiedades
valores
de css
*/

/* selector descendente */
/* body head div nav ol il a */

/* selector de clase se llama con un ponto+class_nombre */
/* .class_nombre ejemplo ".link*"/

/* selector de id se llama con un numeral+id_nombre */
/* #id_nombre ejmplo */

body {
    font-family: Open 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', serif;
    font-weight: normal;
    /* font-style: italic; */
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: black; 
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */
}

h1 strong {
    color: #F4E9A9;
}

.hero{
    height: 300px;
    background-image: url('https://i.imgur.com/1DWuEzi.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: grey;
}

 .proyect {
    /* border-top-color:grey;
    border-top-width: 15 px;
    border-top-style: solid; */
    border: 1px solid grey;
    border-radius: 10px;
    /* 
    border-top-right: 10px;
    border-top-left-radius: 50px;
    border-botoom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
    */
 }

.proyect-details {
    width: 500px;
    /* height: 100px; */
}

.proyect-imageContainer {
    width: 500px;
} 

.header {
    background: black;
    color: white;
}

.header a {
    background-color: black;
    color: white;
    text-decoration: none;
}

.logojorge{
    color: white;
    text-transform: uppercase;
}

footer{
    background: black;
    color: white 
}